<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
    <h1>hello</h1>
    <nav>
        {% include "nav.html" %}
    </nav>
    <section>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Capacity</th>
                <th>Available</th>
            </tr>
            {% for i in product %}   
            <tr>
                 <td>{{ i.name }}</td>
                 <td>{{ i.price }}</td>
                 <td>{{ i.type }}</td>
                 <td>{{ i.capacity }}</td>
                 <td>{{ i.available }}</td>
            </tr>
            {% endfor %}  
        </table>

             
       
    </section>
    </div>
</body>
</html>